/* src/styles/global.css */

/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colour-primary: #95B6BB;
    --colour-dark: #407078;
    --colour-light: #D9F4F8;
    --colour-white: #F0F9FF;

    --puppy-new-colour: #8041be;
    --puppy-reserved-colour: #7fbe41;
    --puppy-sold-colour: #be4141;
    --puppy-available-colour: #41bebe;

    --at-risk-colour: #F77777;
    --carrier-colour: #EA954A;
    --clear-colour: #58CF62;

    --font-primary: "Playfair Display", serif;
    --font-secondary: "Poppins", sans-serif;

    --header-height: 80px;
}

html, body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    background: var(--colour-primary);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}


